<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>sms-tool</title>
    <link rel="icon" type="image/png" sizes="16x16" href="C:\Users\crist\Documents\dev\sms_tool\assets\img\favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="C:\Users\crist\Documents\dev\sms_tool\assets\css\styles.css">

</head>

<body>
    <div style="text-align: center;padding-top: 10%;padding-right: 20%;padding-left: 20%;">
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <form method="post" action="/"><label>Select a list</label>
                        <select name="list" class="form-control form-control-lg">
                            <option value="all">All People</option>
                            <option value="champion_school">Champion School</option>
                            <option value="supercompensation_system">SuperCompensation System</option>
                            <option value="fast_twitch_activation">Fast Twitch Activation</option>
                          </select>
                        <label style="margin-top: 25px;">Type sms message:</label>
                        <textarea name="message" class="form-control" style="margin-bottom: 30px;margin-top: 15px;" required></textarea>
                        <button class="btn btn-primary" type="submit" id="sendButton">Send Sms</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>